.weather-info-single{

    &__go-back{
        text-align: left;
        text-transform: uppercase;
    }

    &__time-items{
        padding: 0;
        margin: 40px 0;
        list-style-type: none;    
        display: flex;    
        font-size: 1em;

        .time-item{
            &__img{
                width: 70px;
                height: 70px;
            }
        }
    }

    .additional-info{
        display: flex;
        justify-content: space-around;        

        &__week, &__other-info{
            background-color: rgb(255 255 255 / 24%);
            width: 49%;            
            padding: 0;
            margin: 0;
            list-style-type: none;
            font-size: 1em;
            display: flex;
            flex-direction: column;
        }

        &__other-info{
            justify-content: space-around;
        }

        .week{            

            &__item{
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            .item{
                &__day, &__img, &__temp-day, &__temp-night{
                    width: 25%;
                }

                &__img{
                    img{
                        width: 70px;
                        height: 70px;
                    }
                }
            }
        }
    }
}

